<section class="browse">
    <div class="background">
        <div class="text-container">
        <h1>Recipes: Try some today!</h1></div>
        <div class="browse-container">
            <div class="pizza">
                <div class="pizza-pic"></div>
                <div class="pizza-text">
                    <h1>Supreme Pizza</h1>
                    <p>Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum</p>
                    <div class="cook-time">
                        <div class="time-pic"></div>
                        <p>1h 24min</p>
                    </div>
                    <div class="cook-servings">
                        <div class="serve-pic"></div>
                        <p>4 servings</p>
                    </div>
                </div>
            </div>
            <div class="burger">
                <div class="burger-pic"></div>
                <div class="burger-text">
                    <h1>Classic Burger</h1>
                    <p>Sink your teeth into a delicious 
                        restaurant-style, hamburger recipe 
                        made from lean beef. Skip the 
                        prepackaged patties and take the 
                        extra time to craft up your own, 
                        and that little extra effort will be 
                        worth it.</p>
                    <div class="cook-time">
                        <div class="time-pic"></div>
                        <p>30 min</p>
                    </div>
                    <div class="cook-servings">
                        <div class="serve-pic"></div>
                        <p>4 servings</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="browse-container">
            <div class="biryani">
                <div class="biryani-pic"></div>
                <div class="biryani-text">
                    <h1>Chicken Biryani</h1>
                    <p>Chicken Biryani is a bold and 
                        flavorful Indian dish with crazy 
                        tender bites of chicken with 
                        bell peppers in a deliciously 
                        spiced and fragrant rice</p>
                    <div class="cook-time">
                        <div class="time-pic"></div>
                        <p>1hr 15min</p>
                    </div>
                    <div class="cook-servings">
                        <div class="serve-pic"></div>
                        <p>6 servings</p>
                    </div>
                </div>
            </div>
            <div class="chow">
                <div class="chow-pic"></div>
                <div class="chow-text">
                    <h1>Ch. Chow Mein</h1>
                    <p>A great Chow Mein comes 
                        down to the sauce - it takes 
                        more than just soy sauce and 
                        sugar! Jam packed with a 
                        surprising amount of hidden 
                        vegetables, customize this 
                        Chicken Chow Mein recipe 
                        using your protein of choice!</p>
                    <div class="cook-time">
                        <div class="time-pic"></div>
                        <p>20 min</p>
                    </div>
                    <div class="cook-servings">
                        <div class="serve-pic"></div>
                        <p>4 servings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>