<section class="create">
    <div class="create-container">
        <div class="recipe-info">
            <h1>Hey Michael, create your recipe!</h1>
            <form>
                <input type="text" id="image" placeholder="Add Recipe Image">
                <input type="text" id="name" placeholder="Recipe Name">
                <input type="text" id="desc" placeholder="Recipe Description">
                <input type="text" id="time" placeholder="Recipe Total Time">
                <input type="text" id="size" placeholder="Recipe Serving Size">
            </form>
        </div>
        <p>Enter Ingredients:</p>
        <div class="ingredients-info">
            <form>
                <input type="text" id="inOne" placeholder="Ingredient #1">
                <input type="text" id="inTwo" placeholder="Ingredient #2">
                <input type="text" id="inThree" placeholder="Ingredient #3">
            </form>
        </div>
        <p>Enter Instructions:</p>
        <div class="instructions">
            <form>
                <input type="text" id="instOne" placeholder="Instruction #1">
                <input type="text" id="instTwo" placeholder="Instruction #2">
                <input type="text" id="instThree" placeholder="Instruction #3">
            </form>
        </div>
        <div class="btnContain">
        <button id="create" href="#">Create Recipe</button>
    </div>
    </div>
</section>