<section class="edit">
    <div class="edit-container">
        <div class="recipe-info">
            <h1>Hey Michael, edit your recipe!</h1>
            <form>
                <input type="text" id="image" placeholder="Edit Recipe Image">
                <input type="text" id="name" placeholder="Supreme Pizza">
                <input type="text" id="desc" placeholder="Make pizza night super duper out of this…">
                <input type="text" id="time" placeholder="1h 24 min">
                <input type="text" id="size" placeholder="4 servings">
            </form>
        </div>
        <p>Enter Ingredients:</p>
        <div class="ingredients-info">
            <form>
                <input type="text" id="inOne" placeholder="Ingredient #1">
                <input type="text" id="inTwo" placeholder="Ingredient #2">
                <input type="text" id="inThree" placeholder="Ingredient #3">
            </form>
        </div>
        <p>Enter Instructions:</p>
        <div class="instructions">
            <form>
                <input type="text" id="instOne" placeholder="Instruction #1">
                <input type="text" id="instTwo" placeholder="Instruction #2">
                <input type="text" id="instThree" placeholder="Instruction #3">
            </form>
        </div>
        <div class="btnContain">
        <button id="submit" href="#">Submit Changes</button>
    </div>
    </div>
</section>