<div class="footer-wrapper">
    <footer>

    <div class="footerCopyright">Copyright &copy; 2019 The Jungle Cook</div>

    <div class="footerLinks">
        <a id="login" href="#">Login</a>
        <a id="category" href="#">Recipes by Category</a>
        <a href="#">Privacy and Copyright</a>
        <a id="create" href="#">Create Recipe</a>
        <a id="your" href="#">Your Recipes</a>
    </div>

    <div class="social">
        <div class="facebook"></div>
        <div class="instagram"></div>
    </div>

</footer>
</div>
