<section class="home">
    <div class="background">
        <div class="circle-container">
        <div class="circle">
            <p>Want to be a Jungle Cook? Go ahead and the kitchen is yours!</p>
        </div>
        <div class="callout">
                <h1>The Jungle Cook</h1>
                <p>The home to various 
                    recipes of your choice. 
                    Add your own recipe 
                    today and fill the world 
                    with joy!</p>
            </div>
    </div>
    </div>
    </section>