<section class="view">
    <div class="view-container">
        <div class="description">
            
            <div class="pic-container">
               
                <div class="picture"></div>
            </div>
            <div class="desc-container">
                <h1>Description:</h1>
                <p>Make pizza night super duper out of this world with homemade pizza. This recipe is supreme with vegetables and two types of meat. Yum!</p>
                <h2>Total Time:</h2>
                <p>1h 24min</p>
                <h2>Servings:</h2>
                <p>4 servings</p>
            </div>
        </div>
        <div class="ingredients">
            <h1>Ingredients:</h1>
            <p>1/4 batch pizza dough</p>
            <p>2 tablespoons Last-Minute Pizza Sauce</p>
            <p>10 slices pepperoni</p>
            <p>1 cup cooked and crumbled Italian sausage</p>
            <p>2 large mushrooms, sliced</p>
            <p>1/4 bell pepper, sliced</p>
            <p>1 tablespoon sliced black olives</p>
            <p>1 cup shredded mozzarella cheese</p>
        </div>
        <div class="instruction">
            <h1>Instructions:</h1>
            <ol>
                <li>Preheat the oven to 475°. Spray pizza pan with nonstick cooking or line a baking sheet with parchment paper</li>
                <li>Flatten dough into a thin round and place on the pizza pan.</li>
                <li>Spread pizza sauce over the dough.</li>
                <li>Layer the toppings over the dough in the order listed.</li>
                <li>Bake for 8 to 10 minutes or until the crust is crisp and the cheese melted and lightly browned.</li>
            </ol>
        </div>
        <div class="btn-container">
            <button id="edit" href="#">Edit Recipe</button>
        </div>
    </div>
</section>