<section class="your">
    <div class="header">
        <h1>Hey Michael, here are your recipes </h1>
    </div>
    <div class="your-container">
        <div class="pizza">
            <div class="pizza-pic">
                <button class="view" id="view" href="#">View</button>
            </div>
                <div class="pizza-text">
                    <h1>Supreme Pizza</h1>
                    <p>Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum</p>
                    <div class="cook-time">
                        <div class="time-pic"></div>
                        <p>1h 24min</p>
                    </div>
                    <div class="cook-servings">
                        <div class="serve-pic"></div>
                        <p>4 servings</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="btn-container">
        <button class="edit" id="edit" href="#">Edit Recipe</button>
        <button id="delete" href="#">Delete</button>
    </div>
</section>